/target/
*.log
/webapp/

### IntelliJ IDEA ###
/.idea/
*.iws
*.iml

### Eclipse ###
/.classpath
/.settings
/.project
/.tern-project


### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
/nb-configuration.xml